@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(92, 199, 163);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 160, 130);

}

#Informationen {
    display: none;
}






#completedCheckbox {
    margin: .4rem;
}

body {
    /* -ms-overflow-style: none; for Internet Explorer, Edge */
    /* scrollbar-width: none; for Firefox */
    /* overflow-y: scroll; */
    background-color: rgb(127, 255, 212);
    color: black ;
    font-family: 'Mochiy Pop P One', sans-serif;
    position: relative;
    width: 100%;
    display: block;
}

/* body::-webkit-scrollbar {
    display: none;
} */

html, div
{
    /* overflow: hidden */
    overflow-x: hidden
}
body
{
    overflow-y: hidden;
    overflow-x: hidden;
}

.app {
    -ms-overflow-style:none; /* for Internet Explorer, Edge */
    overflow: hidden;
    scrollbar-width:none; /* for Firefox */
    overflow-y:hidden;
}

.app::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.completed{
    background-color: rgb(50, 104, 86);
    text-decoration: line-through;
    color: gray
}

#authenticateContent {
    display:block;
}

body > *  {
    margin: auto;
    width: 500px;
    display: block;
    overflow: auto;
}

.DuringAuthHide {
    display: none;
}

#authenticateContent {
    display:block;
}

body > script {
    display: none
}

.papierkorbButton {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    padding-left: 2rem;

    float: right;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.papierkorb{
    background-color: transparent;
    border-radius: 5px;
    transition-duration: 0.4s;
}
.papierkorb:hover {
    background-color: rgb(92, 199, 163);
}

.pap

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}
.addButton {
    height: 23px;
    width: 100px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: transparent;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.addButton:hover {
    background-color: rgb(92, 199, 163);
}

input[type="text"]
{
    font-family: 'Mochiy Pop P One', sans-serif;
}



.editInput {
    display: none;
    /* float: right; */
    align-items: center;
    /* float:right; */
    margin-left: 30px;
}

.showInputButton {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    float: right;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.showInputButton:hover {
    background-color: rgb(92, 199, 163);

}


#app {
    width: 90%;
    /* text-align: center; */
}

.ToDoTrennlinie {
    width:100%;
    text-align:left;
    /* margin-left:unset; */
    size: "10";
    color: black;
    background-color: black;
}



#InformationsButton {

    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: large;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: rgb(92, 199, 163);
    border-color: transparent;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    float: right;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#InformationsButton:hover {
    background-color: rgb(70, 160, 130);
}